#################################################
# Logging                                       #
#################################################
logging:
  config: classpath:log/logback.xml
  batch:
    job:
      enabled: true # 어플리케이션 실행시 배치 자동 실행 여부
      names: ${job.name:NONE}

#################################################
# Management                                    #
#################################################
management:
  server:
    port: 8082
  security:
    enabled: false
  endpoint:
    health:
      show-details: always
    web:
      base-path: /actuator
      exposure:
        include: "*" #health,info,env
        exclude: beans
  health:
    diskspace.enabled: true
    db.enabled: true
    defaults.enabled: true

#################################################
# Etc                                           #
#################################################
#spring.main.allow-bean-definition-overriding: true